.footer {
  background-color: #211F24;
}

.footer-content {
  display: block;
  margin-right: 1em;
  padding-bottom: 1px;
  padding-top: 20px;
}

.footer-content-left {
  text-align: left;
}
.footer-content-right {
  text-align: right;
}