<!-- TODO Add link to Shopping cart when items are added to menu-->
<!-- TODO Show each item + price per person with a button that expands
the menu item and shows a picture and basic description/options -->
<div class="container">

<div class="content-header">
  <h1>Catering Menu</h1>
</div>


  <div class="row" >
    <div class="col-sm-4" *ngFor="let item of items">
      <div class="card text-white bg-dark" >
        <img class="card-img-top img-fluid" src="{{item.image_location}}" alt="Card image cap">
        <div class="card-body d-flex flex-column">
          <h2 class="card-title">{{item.name}}</h2>
          <p class="card-text">{{item.description}}</p>
          <h5 class="card-title">Ingredients</h5>
          <p class="card-text">{{item.ingredients}}</p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item bg-dark">Price: ${{item.price_min}} - ${{item.price_max}} Per Person</li>
            <li class="list-group-item bg-dark">Diet Restriction: {{item.diet_restriction}}</li>
            <li class="list-group-item bg-dark">Allergy Warning: {{item.allergies}}</li>
          </ul>
          <a href="#" class="btn btn-outline-light mt-auto">Add to Cart</a>
        </div>
      </div>
    </div>


  </div>

</div>