<div class="container">

<div class="content-header">
  <h1>Catering Menu</h1>
</div>

<div class="content-body">
  <div class="menu-row">

    <div class="menu-item">
      <div class="menu-header">
        <h4>Beef Wrap</h4>
      </div>

      <figure>
        <img class="mx-auto d-block menu-images" src="../../assets/images/mock-images/beef-wrap.jpg" alt="">
        <figcaption>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore voluptate, reprehenderit error pariatur laudantium magni incidunt veritatis voluptatem! Eaque quos alias mollitia, pariatur et necessitatibus expedita ratione dolor aperiam odio!</figcaption>
      </figure>
    </div>

    <div class="menu-item">
      <div class="menu-header">
        <h4>Mexican Quesadilla</h4>
      </div>
      
      <figure>
        <img class="mx-auto d-block menu-images" src="../../assets/images/mock-images/quesadilla.jpg" alt="">
        <figcaption>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis commodi beatae fugit voluptatem omnis obcaecati ex vel ut totam id accusantium exercitationem enim alias dolorum laborum, placeat voluptatum, nisi itaque?</figcaption>
      </figure>
    </div>

    <div class="menu-item">
      <div class="menu-header">
        <h4>Human</h4>
      </div>
      <figure>
        <img class="mx-auto d-block  menu-images" src="../../assets/images/mock-images/human.jpg" alt="">
        <figcaption>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat labore quibusdam quia eius autem, dolorum maiores cumque vel ut inventore impedit esse dicta delectus at mollitia, enim vero soluta voluptas.</figcaption>
      </figure>
    </div>

  </div>
</div>
