.page-header {
  background-color: #211F24;
  margin-top:0px;

}

.top-nav {
  display: flex;
  flex-direction: row-reverse;
  color: rgba(148, 148, 148, 1);
  background-color: rgba(0, 0, 0, 1);
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2em;
  margin-top:0px !important;

}

.img-logo {
  max-width: 40%;
  height: 20vh;
  padding-bottom: 20px;
  width:auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-top: 20px;

}
.custom-navbar {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4em;
  background-color: rgba(0, 0, 0, 1) !important;
  height: 80px;

}

a:hover, a:focus {
  color: rgba(51, 51, 51, 1);

}

.img-header {
  width: 100%;
}

a {
  outline: 0;
  color: rgba(148, 148, 148, 1);
  background-color: rgba(0, 0, 0, 1);
}

.navbar-nav>li>a {
  color: rgba(148, 148, 148, 1);
  background-color: rgba(0, 0, 0, 1);
}
.navbar-nav>li>a:hover,
.navbar-nav>li>a:focus {
  color: rgba(51, 51, 51, 1);
  background-color: rgba(0, 0, 0, 1);
}
.navbar-nav>.active>a,
.navbar-nav>.active>a:hover,
.navbar-nav>.active>a:focus {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(77, 77, 77, 1);
}
.navbar-toggler {
  border-color: #4d4d4d;
}
.navbar-toggler:hover,
.navbar-toggler:focus {
  background-color: #4d4d4d;
}
.navbar-toggler .icon-bar {
  background-color: #4d4d4d;
}
.navbar-toggler:hover .icon-bar,
.navbar-toggler:focus .icon-bar {
  background-color: #000000;
}

.collapsing {
  -webkit-transition: height .05s ease;
       -o-transition: height .05s ease;
          transition: height .05s ease;
}
